<h1>User Articles</h1>

<h3><%= @current_user.fname %>'s Articles</h3>

<% @current_user.articles.all.each do |article| %>
	<h3><%= article.title %></h3>
	<%= article.content %>
	<br>
	<br>
<% end %>

<%= link_to "All Users", user_path %>
<br>
<%= link_to "All Articles", articles_path %>